.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid black; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 10%
}

.cards {
    display: grid;
    margin: 20px 20px 0px;
    justify-items: center;
    justify-self: center;
    grid-template-columns: 23% 23% 23% 23%;   
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

